<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<meta charset="utf-8">
</head>
<style> table {
    border-collapse: collapse;
    width: 100%;
    height: 100%;
    font-size: 50px;
    
}

tr:nth-child(even) {
    background-color: #d8d8d8;
}


input {
    vertical-align: center;
    text-align: center;
    width: auto;
}
a{
    font-size: 25px;
    text-decoration:underline;
    color: dodgerblue;
}
.overflow{
    overflow: auto;
    align-content: center;
}
.avaliador{
    
    width: 100%;
}
.boxavaliacao{
    width: 90%;
    font-size: 50px;
}
.textoavaliacao{
    
    font-size:50px;  
}
.radio{
    width:50px;
    height: 50px;
}
.iframeInscricao{
    position: relative;
    width: 166vh;
    height: 78vh;
    overflow: hidden;
}
.iframeLogin{
    position: relative;
    width: 15%;
    height: 25%;
    overflow: hidden;
    top: 0%;
    float:right;
    vertical-align: top;
    background-color: white;
}
.iframeContato{
    width: 100%;
    height: 17vh;
}
.contato{
    width:960px;
    margin:0 auto;
height: auto;
color: white;
background-color: black;
    overflow: hidden;
    
}

.float1{
    float:center;
    width: 200px;
}
div.login{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

</style >
<datalist id="turma">
                <option value="1">
                <option value="2">
                <option value="3">

            </datalist>
<datalist id="teste">
                <option value="Projeto 1">
                <option value="Projeto 2">
                <option value="projeto 3">

            </datalist>
